@font-face {
  font-family: 'sinkinsans';
  src: url(../fonts/SinkinSans-400Regular-webfont.woff);
}

body {
  font-family: 'sinkinsans', sans-serif;
  font-size: 14px;
  margin: 0px;
  height: 100px;
  width: 400px;
  position: relative;
  top: 50%;
}

h1 {
  font-size: 14px;
  font-weight: 400;
  margin: 0px 0px 10px 0px;
}

p {
  font-size: 14px;
  margin: 0px 0px 0px 0px;
}

img {
  width: 75px;
  display: inline-block;
  float: left;
  margin: 10px 25px 10px 25px;
  top: 50%;
}
